<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blog</title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>

  <div class="header">
    <h1>My Personal Blog</h1>
  </div>

  <nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
  </nav>

  <div>
    
    <% for (let i = 0; i < posts.length; i++) { %>

      
      <h2 class="center"><%= posts[i].title %></h2>
      <p class="center"><%= posts[i].date %></p>
      <p class="center"><%= posts[i].excerpt %></p>
      <p class="center"><%= posts[i].content %></p>

     
      <% if (posts[i].published !== false) { %>
        <button class="buy-now-button center read-post-button" data-title="<%= posts[i].title %>">read
        </button>
      <% } else { %>
        <button class="buy-now-button" disabled>draft</button>
      <% } %>

      <hr />

    <% } %>
  </div>